body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 960px;
        height: 900px;
        position: relative;
    }

    svg {
        width: 100%;
        height: 100%;
        position: center;
    }

    text {
        font: 10px sans-serif;
        fill: #003b4e;
    }
    text.value {
        font-size: 120%;
        fill: #003b4e;
    }

    .bar {
        fill: #90d9f4;
        fill-opacity: .9;
    }